#section
  h1 安達產險旅平險投保截止日試算
  .aa
    .traveldate 旅遊出發日期
        //- input#user_date(type="date")
        input#user_date(placeholder="請輸入日期" onMouseover="(this.type='date')" onClick="(this.type='date')")
    .traveltime 旅遊出發時間
      select#time 
      label 時
    .btn 計算
  .day 