@charset "UTF-8";
* {
  font-family: 微軟正黑體;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  text-align: center;
}
@media screen and (max-width: 768px) {
  h1 {
    margin-top: 60px;
    font-size: 26px;
  }
}
@media screen and (max-width: 414px) {
  h1 {
    font-size: 22px;
    width: 330px;
    margin-left: 10px;
  }
}

.aa {
  background: #FF84A7;
  padding: 20px 120px 10px 120px;
  border-radius: 15px;
}
.aa input {
  width: 140px;
}
.aa .traveldate {
  padding: 10px;
}
.aa .traveltime {
  padding: 10px;
}
@media screen and (max-width: 768px) {
  .aa {
    background: #FFF685;
    padding-left: 20%;
  }
}
@media screen and (max-width: 414px) {
  .aa {
    background: #94E1FF;
    width: 310px;
    padding: 10px 0px 10px 50px;
  }
}

.btn {
  display: inline-block;
  cursor: pointer;
  margin-left: 35%;
  padding: 10px;
  margin-top: 5px;
  border-radius: 5px;
  border: solid 2px #555;
  box-shadow: 0 0 2px 2px #eee;
}
.btn:hover {
  color: #333;
  border: solid 2px #eee;
}

.day {
  width: 445px;
  height: 60px;
  padding: 20px;
  color: red;
  font-size: 26px;
}
@media screen and (max-width: 414px) {
  .day {
    width: 310px;
    border-radius: 15px;
    padding: 10px;
    margin-left: 10px;
    font-size: 20px;
  }
}